<!-- Footer para cambiar --->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">Christophersen</p>

  <!-- Icono del centro (CAMBIAR) --->
  <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <i class="bi bi-facebook"></i>
  </a>

  <!-- Contactos --->
  <ul class="nav col-md-4 justify-content-end">
    <p class="col-md-4 mb-0 text-muted">Contacto</p>
    <p class="col-md-4 mb-0 text-muted">Telefono</p>
    <p class="col-md-4 mb-0 text-muted">Mail</p>
  </ul>
</footer>
