<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-aos="fade-up">

    <!--- Carusel de imagenes --->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <!--- Img1 (Noticia del Poncho es ley) --->
      <div class="carousel-item active" data-bs-interval="10000" >
        <img src="../../../assets/img/Fotos/foto1v2.png" class="d-block w-100" alt="El poncho es Ley">
        <div class="carousel-caption d-none d-md-block">
          <div class="Cont-text">
            <h5 id="tituloImg">El Poncho Santafesino se convirtió en ley</h5>
            <p>La Cámara de Diputados de Santa Fe, aprobó el proyecto de ley presentado por...</p>
            <button type="button" class="btn btn-primary" id="button1"> ver </button>
          </div>
        </div>
      </div>

      <!--- Img2 (Anuncio de renovacion de Logo)--->
      <div class="carousel-item active" data-bs-interval="10000" >
        <img src="../../../assets/img/Fotos/foto1v2.png" class="d-block w-100" alt="El poncho es Ley">
        <div class="carousel-caption d-none d-md-block">
          <div class="Cont-text">
            <h5 id="tituloImg">Nos Renovamos!</h5>
            <p>...</p>
            <button type="button" class="btn btn-primary" id="button1"> ver </button>
          </div>
        </div>
      </div>

      <!--- Img3 (Anuncio de la Tercera Fiesta) --->
      <div class="carousel-item active" data-bs-interval="10000" >
        <img src="../../../assets/img/Fotos/foto1v2.png" class="d-block w-100" alt="El poncho es Ley">
        <div class="carousel-caption d-none d-md-block">
          <div class="Cont-text">
            <h5 id="tituloImg">FIESTA DEL PONCHO 15/03/23</h5>
            <p>...</p>
              <a href="https://www.ellitoral.com/regionales/provincia-santa-fe-camara-diputados-general-lopez-lisandro-enrico-santafesino-poncho-santafesino_0_jSPuUI9g8m.html#Echobox=1662729179">
                <button type="button" class="btn btn-primary" id="button1"> ver </button>
              </a>
          </div>
        </div>
      </div>

    </div>

    <!--- Botones para moverse entre noticias --->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>

    <!--- Llamar a lo que resta del Home (Cambiar y Acomodar Componentes)--->
<app-cards></app-cards>

<app-options></app-options>

<app-form></app-form>

<app-footer> </app-footer>
