<!-- llamar el navbar al comienzo-->
<app-nav-bar></app-nav-bar>

<!-- llamar al componente Home -->
<app-home></app-home>

<!-- a -->
<router-outlet></router-outlet>

<!-- NOTAS :
  1- Tengo que acomodar todos los componentes de una manera mas optima y funcional
  2- Acomodar Home y sus funciones( Mover entre componentes )
  3- Probar el tema de Animaciones con librerias (AOS)
  4- Acomodar la Historia y informacion en base al word
  5- Cambiar Logo (Esperando al cliente)
  6- Hacer Funcionar el Form (Necesito ver el tema de enviar los datos a un mail especifico)
  7- Cuenta Regresiva (ver videos y buscar informacion del mismo)
  8- Acomodar Carpeta Img (ESTA TODO MUY DESORDENADO)
  9- Hacer Video para el Cliente (quiere ver y comparar el proyecto para tener opiniones "no creo que cambie mucho")
  10- Acomodar y ver cada imagen del cliente para evaluar en que lugar colocar
-->
